




<div class="banner container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key, width: 400, height: 300, crop: :fill %>')">
  <div class="container d-flex justify-content-center">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container d-flex justify-content-center p-3">
  <%= link_to "ADD NEW MOVIE", new_list_bookmark_path(@list), class: "btn btn-success" %>
</div>

<div class="container">
  <div class="row g-3">
    <% @bookmarks.each do |bookmark| %>
    <div class="col-12 col-md-6 col-lg-4 d-flex">
      <div class="card-list">
        <%= image_tag "#{bookmark.movie.poster_url}", alt: "bookmark", class: "card-img-top" %>
        <div class="content p-4 my-3">
          <h2><%= bookmark.movie.title %> </h2>
          <p>Rating: <%= bookmark.movie.rating %>⭐</p>
          <p><%= bookmark.movie.overview%></p>
          <p>Comments: <strong><%= bookmark.comment %></strong></p>
        </div>
          <div class="d-flex justify-content-end p-4">
            <%= link_to "", bookmark_path(bookmark.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "far fa-trash-alt" %>
          </div>
      </div>
    </div>
    <% end %>
  </div>
</div>


<div class="container my-3">
  <div class="row">
    <div class="col-12 col-lg-6">
      <h2>All List Reviews</h2>
      <% @list.reviews.each do |review|%>
      <div>
      <p><%= review.rating %> ⭐ * <%=  review.comment %></p>
      <hr>
      </div>
      <% end %>
    </div>
    <div class="card col-12 col-lg-6 p-3">
      <h2>Add a review </h2>
      <%= simple_form_for [@list, @review] do |f| %>
        <%= f.input :comment %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>
        <%= f.submit "Send your review" %>
      <% end %>
    </div>
  </div>
</div>
